{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block head %}
    {% load static %}
    <script src="{% static 'viewsDeleteButton.js' %}"></script>
    <title>InventoryGMA</title>
{% endblock head %}
{% block content %}
    <h2>InventoryGMA</h2>
    <div class="aux_navbar">
        <a href="{% url "locationView" %}">Locations</a>
        <a href="{% url "categoryView" %}">Categories</a>
    </div>
    <form method="GET" action="{% url "thingForm" %}">
        <input type="submit" value="Create new thing">
    </form>
    <div class="filter_form">
        <form action="{% url "filterThings" %}" method="post">
            {% csrf_token %}
            <label for="nameFilterInput">Name:</label>
            <input type="text" name="nameFilterInput" id="nameFilterInput">
            <label for="descriptionFilterInput">Description:</label>
            <input type="text" name="descriptionFilterInput" id="descriptionFilterInput">
            <label for="categoryFilterInput">Category:</label>
            <select name="categoryFilterInput" id="categoryFilterInput" multiple>
                <option value="all" selected>All</option>
                <option value="null">------</option>
                {% for category in categories %}
                    <option value="{{category.pk}}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="locationFilterInput">Location:</label>
            <select name="locationFilterInput" id="locationFilterInput" multiple>
                <option value="all" selected>All</option>
                <option value="null">------</option>
                {% for location in locations %}
                    <option value="{{location.pk}}">{{ location.name }}</option>
                {% endfor %}
            </select>
            <label for="minNumberFilterInput">Minimum:</label>
            <input type="number" name="minNumberFilterInput" id="minNumberFilterInput" min="0">
            <label for="maxNumberFilterInput">Maximum:</label>
            <input type="number" name="maxNumberFilterInput" id="maxNumberFilterInput" min="0">
            <input type="submit" value="Filtrar">
        </form>
    </div>
    <table class="Things display">
        <thead>
            <tr>
            <th>name</th>
            <th>description</th>
            <th>category</th>
            <th>quantity</th>
            <th>location</th>
            </tr>
        </thead>
        <tbody>
            {% for thing in things %}
                <tr>
                    <td>{{ thing.name }}</td>
                    <td>{{ thing.description }}</td>
                    <td>{{ thing.category }}</td>
                    <td>{{ thing.quantity }}</td>
                    <td>{{ thing.location }}</td>
                    <td><form action="{% url "updateForm" 'thing' thing.pk %}"><input type="submit" value="Edit"></form></td>
                    <td><button id="deleteButtonFor{{thing.pk}}" onClick="deleteButtonClick(this.id, {{thing.pk}})">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="DeleteInstanceModal" class="DeleteInstanceModal">
        Are you sure you want to delete it?
        <button onClick="deleteYes()">Yes</button>
        <button onClick="deleteNo()">No</button>
        <input type="hidden" name="deleteUrlInput" id="deleteUrlInput" value="{% url 'thingDelete' 123 %}">
    </div>
{% endblock content %}